{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}


<div class="wrapper" data-controller="hitbees" data-hitbees-id-value= {{ id }} data-hitbees-url-value="/bee/">

    <ul>
        {% for bee in bees %}
            <li id="{{ bee.id }}"> {{ bee.type }} - {{ bee.point }}</li>
        {% endfor %}      
    </ul>
    <div class="screen-game" >
        <a href="#" class="btn" id="hit-btn"  data-action='hitbees#hit'> HIT !!</a>
    </div>
</div>
{% endblock %}
