{% extends 'base.html.twig' %}

{% block title %}Hello PagesController!{% endblock %}

{% block body %}


<div class="wrapper">

    <ul>
        {% for bee in bees %}
            <li>{{ bee.type }} - {{ bee.point }}</li>
        {% endfor %}      
    </ul>
    <div class="screen-game">
        <a href="{{ path('hit_bees') }}" class="btn" id="hit-btn"> HIT !!</a>
    </div>
</div>
{% endblock %}
